@charset "utf-8";


article, aside, figcaption, figure,
footer, header, main, nav, section {
  display: block;
}






nav ul {
  list-style: none;
  list-style-image: none;
}

nav a {
  text-decoration: none;
}


body {
  line-height: 1;
}
